.todoContaienr {
  width: 320px;
  height: 80vh;
  background-color: #ccc;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.addbox {
  display: flex;
  justify-content: space-around;
}

.listitem {
  background-color: #fff;
  border-radius: 22px;
  margin-bottom: 4px;
}